/* @import "tailwindcss"; */

/* App base styles */
/* html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f6f7fb;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* simple global styles */
html, body, #root {
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(180deg, #ffffff 0%, #f8fafc 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
